<app-nav> </app-nav>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
<!--<h1>register works!</h1>-->
<div class='container-fluid p-5 '>
  <div class="border rounded border-primary p-2">
    <div class='text-center m-2'> 

      <h1>Buyer Registration</h1>
      </div>

    <div class="row p-2 ">
      <div class='col-lg'>

        <form>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Full Name</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="enter full name here">
          </div>

          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Phone number</label>
            <input type="email" class="form-control" id="exampleFormControlInput1"
              placeholder="enter phone number here">
          </div>

          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="enter email here">
          </div>

          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Aadhar Number and Image</label>
            <input type="number" class="form-control" id="exampleFormControlInput1"
              placeholder="enter aadhar number here">
          </div>

          <div class="input-group mb-3">

            <input type="file" class="form-control" id="inputGroupFile02" placeholder="Upload Aadhar image here">
            <label class="input-group-text" for="inputGroupFile02">Upload</label>
          </div>



        </form>


      </div>

      <div class='col-lg'>

        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label">Address</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
            placeholder="enter address here"></textarea>
        </div>

        <button class="btn btn-secondary dropdown-toggle w-50 m-1" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          State
        </button>

        <button class="btn btn-secondary dropdown-toggle w-50 m-1 " type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          District
        </button>
        <br>
        <div class="form-check mt-5">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
           <a>Terms and Conditions</a>
          </label>
          <button class='btn btn-primary mx-5'>Register</button>
        </div>
        

      </div>
    </div>
  </div>
</div>