
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/trending">Trending</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/recent">Recent</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Categories
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="/antiques">Antiques</a></li>
            <li><a class="dropdown-item" routerLink="/ccs">Coins,Currency and Stamps</a></li>
            <li><a class="dropdown-item" href="#">Jewelry and Watches </a></li>
            <li><a class="dropdown-item" href="#">Decorative Arts</a></li>
            <li><a class="dropdown-item" href="#">Cars,Motors and Automobile</a></li>
            <li><a class="dropdown-item" href="#">Electronics</a></li>
            
          </ul>
        </li>

      </ul>
      <form class="d-flex">
        <button class="btn btn-primary" type="submit" routerLink="/faq" >Help/FAQ</button>
      </form>
    </div>
  </div>
</nav>

<div class = 'container-fluid'>

<div class='row p-2'>

  <div class='col-sm-8 m-2 p-0 h-100 '>
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="assets/images/business.svg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="assets/images/img.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="assets/images/img.jpg" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>

  <div class='col m-2 border border-primary rounded bg-light bg-gradient '>
    <div class="d-flex align-items-center justify-content-center text-center h-100"  >
      <div class="align-items-center">
       <h2> Check out the complete auction gallery </h2>

       <div class="text-center m-5">
        <button type="button" class="btn btn-primary btn-lg" routerLink="/antiques">Visit</button>
       </div>
       

      </div>
      
    </div>
    
  </div>

</div>




</div>