<app-nav> </app-nav>
<p>
<br>1. What is e-Auction?
<br>e-Auctions are negotiations conducted via an online platform and are considered to be the most transparent way of conducting negotiations.
<br>
<br>2. Who is Bidder?
<br>Anyone be a Company or an individual wishing to bid or participate in an online Auction event is a Bidder.
<br>
<br>3. Are Auction Event Private Or Public?
<br>Each Auction is a highly confidential event conducted between the Auctioneer and a set of qualified Bidders on Auction platform. No outsider can view any aspect of an Auction event without proper authentication by Auctioneer.Therefore all data like Items' specifications, pricing, Bidders' information and bid data are all confidential and available to respective Auctioneers only
<br>
<br>4. How Can Bidder Register in Auction portal?
<br>The Bidder can register in the portal through the link provided in the navbar
<br>
<br>5. Can an individual who is not a registered company or an organization, register as a Bidder?
<br>Yes, an Individual can register as a Bidder Auction platform.
<br>
<br>6. Which Internet Browser should be used? Which is the most suitable Internet Browser for e-Auction Portal?
<br>e-Auctions portal works well with Internet Explorer 8 and above.
<br>
<br>7.What is the internet connection requirement for smooth working of e-Auctions?
<br>It is recommended to have an uninterrupted internet connection with speed of 256 KBPs or higher; please remember during the Auction process internet connection should not go off.
<br>
<br>8.How can a Bidder participate in an Auction?
<br>After loggin in the Bidder can view the products with ongoing auction and bid on the product.
<br>
<br>9. Do I need to register to bid online?
<br>Yes, all online bidders will be required to register online.
<br>
<br>10. How long does a virtual/online auction typically last?
<br>The length of a virtual auction will depend on the seller. Virtual auctions can last anywhere from 5 minutes to 30+ days.
</p>
