<app-nav> </app-nav>

<div class='container-fluid m-1 p-1'>

    <div class='border border-primary p-1 m-2' *ngFor='let product of products'>
        <div class='row w-100'>
            <div class='col-md'>
                <img src="assets/images/{{product.Product_image}}" class="img-fluid rounded mx-auto d-block" alt="...">
            </div>
            <div class='col-md'>
                <h3><a (click)="openpd(product.Product_id)">{{product.Product_name}}</a></h3>
                <p class = 'm-3'>Sold by : <br>
                {{product.seller_name}}<br>
                {{product.seller_district}}<br>
               {{product.seller_state}}</p>


            </div>

            <div class='col-md p-2'>
                <h4>No bids</h4>
            </div>
        </div>
    </div>








